<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Regístrate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="registrar()" #registroForm="ngForm">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="usuario.nombre" name="nombre" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="usuario.email" name="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="usuario.password" name="password" required minlength="6"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirmar Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="usuario.confirmPassword" name="confirmPassword" required></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="!registroForm.valid || usuario.password !== usuario.confirmPassword">
      Registrarse
    </ion-button>

    <ion-item *ngIf="errorMessage">
      <ion-text color="danger">{{errorMessage}}</ion-text>
    </ion-item>
  </form>

  <ion-button expand="block" fill="clear" routerLink="/login">¿Ya tienes cuenta? Inicia sesión</ion-button>
</ion-content>

