<app-menu
  [contentId]="'add-parcela-content'"
  [title]="'Añadir Parcela'"
  [items]="[
    { text: 'Volver', url: '/parcelas' },
    { text: 'Guardar', url: '/parcelas' }
  ]"
>
</app-menu>
<div class="ion-page" id="add-parcela-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button menu="add-parcela-content"></ion-menu-button>
      </ion-buttons>
      <ion-title>Añadir Parcela</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <h1>Datos de la parcela</h1>
    <ion-label>Nombre de la parcela: </ion-label>
    <ion-input [(ngModel)]="nombreParcela" type="text"></ion-input>
    <ion-label>Típo de esplotación: </ion-label>
    <ion-select [(ngModel)]="tipoExplotacion" placeholder="Elige..." interface="popover">
      <ion-select-option value="agricola">Agrícola</ion-select-option>
      <ion-select-option value="ganadera">Ganadera</ion-select-option>
    </ion-select>

    <div class="form-add" *ngFor="let vertice of vertices; let i=index">
      <!-- Botón que solo aparece en el último vértice -->
      <div *ngIf="i+1==vertices.length;else noUltimo">
        <h1>Vértice {{i+1}}</h1>
        <div class="vertice">
          <ion-label>Latitud: </ion-label>
          <ion-input
          type="number"
          [(ngModel)]="ultimoClick.lat"
          (ionInput)="onManualInput($event)"></ion-input>

          <ion-label>Altitud: </ion-label>
          <ion-input
          type="number"
          [(ngModel)]="ultimoClick.lng"
          (ionInput)="onManualInput($event)"
          ></ion-input>
          <ion-button (click)="agregarVertice()" expand="full" color="primary">
            <ion-icon name="add" slot="start"></ion-icon>
            Añadir
          </ion-button>

          <div *ngIf="i>2">
            <ion-button
              (click)="crearParcela()"
              expand="full"
              color="success"
              style="white-space: nowrap"
              [disabled]="!nombreParcela || !tipoExplotacion"
            >
              <ion-icon name="create" slot="start"></ion-icon>
              Crear parcela
            </ion-button>
          </div>
        </div>
      </div>
      <ng-template #noUltimo>
        <h1>Vértice {{i+1}}</h1>
        <div class="vertice">
          <ion-label>Latitud: </ion-label>
          <ion-input [value]="vertices[i].lat"></ion-input>
          <ion-label>Altitud: </ion-label>
          <ion-input [value]="vertices[i].lng"></ion-input>
        </div>
      </ng-template>
    </div>
    <div class="mapa">
      <app-map
        #mapadd
        [isAdd]="true"
        (marcadorCreado)="onMarcadorCreado($event)"
      >
      </app-map>
    </div>
  </ion-content>
</div>
