<ion-content>
    <ion-card *ngFor="let parcela of parcelas">
      <ion-card-header>
        <ion-card-title>{{parcela.name}}</ion-card-title>
        <ion-card-subtitle>Tipo de explotación: {{parcela.tipoExplotacion}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <div class="mapa">
          <app-map
          #map
          [centroExterno]="parcela.vertices[0]"
          [parcelaExterna]="parcela.vertices">
          </app-map>
        </div>
        <ion-button color="danger" shape="round" (click)="eliminarParcela(parcela.id)">Eliminar</ion-button>
        <ion-button color="primary" shape="round" (click)="administrarParcela(parcela.id)">Administrar</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-content>
