<app-menu
  [contentId]="'finanzas-content'"
  [title]="'Finanzas'"
  [items]="[{ text: 'Volver', url: '/parcelas' }]"
>
</app-menu>

<div class="ion-page" id="finanzas-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button menu="finanzas-content"></ion-menu-button>
      </ion-buttons>
      <ion-title>Finanzas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen>
    <div *ngIf="!datos || datos.length === 0" class="empty-state">
      <ion-icon name="wallet-outline" size="large" ></ion-icon>
      <h2>No hay datos financieros disponibles</h2>
      <p>
        Añade información financiera para empezar a controlar tus gastos e
        ingresos.
      </p>
      <ion-button color="primary" routerLink="/parcelas"
        >Volver a Parcelas</ion-button
      >
    </div>

    <div *ngIf="datos && datos.length > 0">
      <ion-segment (ionChange)="cambiarExplotacion($event.detail.value)">
        <ion-segment-button *ngFor="let expl of datos" [value]="expl">
          <ion-label>{{ expl.name }}</ion-label>
        </ion-segment-button>
      </ion-segment>

      <ion-segment (ionChange)="seleccionarVista($event.detail.value!)">
        <ion-segment-button value="explotacion">
          <ion-label>Por Explotación</ion-label>
        </ion-segment-button>
        <ion-segment-button value="mensual">
          <ion-label>Mensual</ion-label>
        </ion-segment-button>
        <ion-segment-button value="semanal">
          <ion-label>Semanal</ion-label>
        </ion-segment-button>
        <ion-segment-button value="anual">
          <ion-label>Anual</ion-label>
        </ion-segment-button>
      </ion-segment>

      <h2 class="explotacion-title">{{ selectedExplotacion?.name }}</h2>

      <div class="chart-wrapper">
        <canvas #barChartCanvas></canvas>
      </div>

      <div
        *ngIf="estadisticas && vistaSeleccionada === 'explotacion'"
        class="estadisticas-card"
      >
        <ion-card>
          <ion-card-header>
            <ion-card-title>Estadísticas de la explotación</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div class="estadistica-item">
              <strong>Gastos fijos:</strong> {{ estadisticas.totalFijos |
              number:'1.2-2' }} ({{ estadisticas.porcentajeFijos |
              number:'1.2-2' }}%)€
            </div>
            <div class="estadistica-item">
              <strong>Gastos variables:</strong> {{ estadisticas.totalVariables
              | number:'1.2-2' }} ({{ estadisticas.porcentajeVariables |
              number:'1.2-2' }}%)€
            </div>
            <div class="estadistica-item">
              <strong>Total gastos:</strong> {{ estadisticas.totalGastos |
              number:'1.2-2' }}€
            </div>
            <hr />
            <div class="estadistica-item">
              <strong>Media gastos fijos:</strong> €{{ estadisticas.mediaFijos |
              number:'1.2-2' }}€
            </div>
            <div class="estadistica-item">
              <strong>Media gastos variables:</strong> {{
              estadisticas.mediaVariables | number:'1.2-2' }}€
            </div>
            <hr />
            <div class="estadistica-item">
              <strong>Mínimo gasto fijo:</strong> {{ estadisticas.minFijos |
              number:'1.2-2' }}€
            </div>
            <div class="estadistica-item">
              <strong>Mínimo gasto variable:</strong> {{
              estadisticas.minVariables | number:'1.2-2' }}€
            </div>
            <div class="estadistica-item">
              <strong>Máximo gasto fijo:</strong> {{ estadisticas.maxFijos |
              number:'1.2-2' }}€
            </div>
            <div class="estadistica-item">
              <strong>Máximo gasto variable:</strong> {{
              estadisticas.maxVariables | number:'1.2-2' }}€
            </div>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </ion-content>
</div>
