<app-menu
  [contentId]="'parcelas-content'"
  [title]="'Parcelas'"
  [items]="[
    { text: 'Añadir parcela', url: '/add-parcela' },
    { text: 'Finanzas', url: '/finanzas' }
  ]">
</app-menu>
  <div class="ion-page" id="parcelas-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button menu="parcelas-content"></ion-menu-button>
      </ion-buttons>
      <ion-title>Parcelas</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <app-lista-parcelas [parcelas]="parcelas"></app-lista-parcelas>
  </ion-content>
</div>
