<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Agro manager </ion-title>
  </ion-toolbar>
  <div class="contenedor-banner">
    <ion-img src="../../assets/images/banner.jpg" class="banner"></ion-img>
  </div>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">


  <div class="welcome-section">
    <h1>Bienvenido</h1>
    <p>
      Conéctate para acceder a tu cuenta y disfrutar de todos los beneficios.
    </p>
    
    <!-- Login -->
    <ion-button
      expand="block"
      shape="round"
      color="primary"
      routerLink="/login"
      class="login-button">
      Iniciar Sesión
    </ion-button>
  </div>

  <!-- Registro -->
  <div class="alternative-options">
    <p>¿No tienes cuenta? <a routerLink="/resgistro">Regístrate</a></p>
  </div>
</ion-content>
